<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="{{url_for('static', filename='css/chatsPage.css')}}">
        <title>Chats</title>

    </head>
    <body>

        <h1>Chat list</h1>
        <div class = "chatContainer">
            <lu class = "chat-list">

                {% for chat in chats [::-1] %}
                <li class = "chat">{{ chat.name }}</li>
                {% endfor %}

            </lu>
            
        </div>
        <div class="BoxButPlus">
            <button id = "addChatButt" onclick = "showChatForm()">+</button>
        </div>
        <div id = "chatForm" class = "hidden">

            <form action = "{{ url_for('add_chat') }}" method = "POST">

                <input type = "text" name = "chat_name" placeholder = "Enter chat name" required>
                <label for = "SecretCheckBox">Secret</label>
                <input type = "checkBox" id = "SecretCheckBox" name = "Secret">
                <input type = "text" id = "secretInput" name = "secretInput" placeholder = "Enter secret" class = "hidden">
                <button type = "submit">Create Chat</button>
            </form>

        </div>
        <div class="links">
            <p>

                <a href="/registr">Register</a>
                <a href="/login">Login</a>
                <a href="/">Information</a>

            </p>
        </div>
        {% for chat in chats %}
            <li class="chat">
                {{ chat.name }}
                {% if current_user.id == chat.owner_id or current_user.is_admin %}
                    <form action="{{ url_for('delete_chat', chat_id=chat.id) }}" method="POST" class="delete-form">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        <script>

            function showChatForm() {

                const addChatButt = document.getElementById('addChatButt');
                const chatForm = document.getElementById('chatForm');
                addChatButt.classList.add('hidden');
                chatForm.classList.remove('hidden');

            }

            document.getElementById('SecretCheckBox').addEventListener('change', function() {

                const secretInput = document.getElementById('secretInput');
                secretInput.classList.toggle('hidden');

            });
            
        </script>
    </body>
</html>
