<!doctype html>
<html>

    <head>

        <link rel ="stylesheet" href="{{url_for('static', filename='css/chat_secret.css')}}">
        <title>Enter secret</title>

    </head>
    <body>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                     {% endfor %}
                 </ul>
            {% endif %}
        {% endwith %}

        <h1>Enter Secret</h1>
        <form action="{{ url_for('chat_secret', chat_id=chat.id) }}" method="POST">
            
            <input type="text" name="secret" placeholder="Enter secret" required>
            <button type="submit">Submit</button>

          </form>
            

    </body>

</html>