<!doctype html>
<html>
    <head>

        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <title>Main page</title>

    </head>
    <body>

        <div class="rectangle">

            <p>

                <a href="registr">Register</a>
                <a href="#">silka2</a>

            </p>

        </div>

        <h1>Secret chat</h1>
        <h2>How to use the secret</h2>

        <div class="mainPage">
            <p>
                If the chat does not have a secret word, then you will see
                everything that happens there, but if the chat has a secret
                word, then you must enter it, otherwise you will see 
                instead of words - "!@*&%$^&!!@%"
            </p>
        </div>

        <h3>Community Rules</h3>
        <div class="mainPage">
            <p>
                The chat uses end-to-end encryption, which means that only 
                the people participating in the conversation can see what
                is happening here, which means the rules are:
                1. Do not provide prohibited services, goods, offers.
                2. Don't reveal too much of your own information.
                Thank you for choosing our chat, have fun and remember, 
                it's impossible to hide anything online :)
            </p>
            <img src = "https://external-preview.redd.it/d27_XS7zmp0sADAeN1jov3bowSd9g1GHM6MMiOT1j8M.jpg?auto=webp&s=37a518be9134970042a1f35c9f4ee5943768ae64" alt = "We are watching you)" />
            <div class="downimg">
            <p>We are watching you)</p>
            </div>
        </div>
        <div class="links">
            <p>

                <a href="/registr">Register</a>
                <a href="#">silka2</a>
                <a href="#">silka3</a>

            </p>

        </div>
    </body>
</html>