body {

    background-image: url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636951510_2-bogatyr-club-p-zadnii-fon-chernii-2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
    
}