<html>
    <head>
        <title>Singin form</title>
        <style type="text/css">

            body {

                background-image: url(https://bogatyr.club/uploads/posts/2021-11/thumbs/1636951510_2-bogatyr-club-p-zadnii-fon-chernii-2.jpg);
                background-size: cover;

            }
        
        </style>
    </head>
    <body>
        <p align = "center" style = "font-size: 60; color: rgb(221, 0, 0);">

            <strong>Secret chat</strong>

        </p>
        <p align = "center" style = "font-size: 30; color: aliceblue;">

            <strong>Register your account please</strong>

        </p>
        <form action = "/register" method = "get">
            <p align = "center" style = "font-size: 20; color: rgb(255, 255, 255);">

                <em>Username</em>

            </p>
        
            <div style = "width: 20%; height: 10%; border: 5px solid; border-color: rgb(221, 0, 0); background-color: white; margin: 0 auto;">

                <input type = "text" placeholder = "Enter username" name = "username" style = "width: 100%; height: 100%; text-align: center; font-size: 24px;">

            </div>
            <p align = "center" style = "font-size: 30; color: aliceblue;">

                <strong></strong>

            </p>
            <p align = "center" style = "font-size: 20; color: rgb(255, 255, 255);">

                <em>Password</em>

            </p>
            <div style = "width: 20%; height: 10%; border: 5px solid; border-color: rgb(221, 0, 0); background-color: white; margin: 0 auto;">

                <input type = "password" placeholder = "Enter password" name = "password1" style = "width: 100%; height: 100%; text-align: center; font-size: 24px;">

            </div>
            <p align = "center" style = "font-size: 30; color: aliceblue;">

                <strong></strong>

            </p>
            <p align = "center" style = "font-size: 20; color: rgb(255, 255, 255);">

                <em>Repeat password</em>

            </p>
            <div style = "width: 20%; height: 10%; border: 5px solid; border-color: rgb(221, 0, 0); background-color: white; margin: 0 auto;">

                <input type = "password" placeholder = "Enter passport again" name = "password2" style = "width: 100%; height: 100%; text-align: center; font-size: 24px;">

            </div>
            <p align = "center" style = "font-size: 20; color: rgb(255, 255, 255);">

                <em></em>

            </p>
            <div style = "width: 10%; height: 5%; border: 2px solid; border-color: rgb(221, 0, 0); background-color: white; margin: 0 auto;">

            <input type="submit" value="Register" style = "width: 100%; height: 100%; text-align: center; font-size: 12px;">

            </div>
        </form>
        <p align = "center" style = "font-size: 20px; color: rgb;">

            <a href = "Login.HTML">Click to login</a>
        
        </p>
        <p align = "center" style = "font-size: 20px; color: rgb;">

            <a href = "GeneralChat.html">Click to chat</a>
        
        </p>
    </body>
</html>